/*********************************\
        $VARIABLES
\*********************************/
/*---------DEFINICION DE COLORES-------*/
/*---------COLORS TEXT----------------- */
/*---------COLORS BACKGROUND */
/*---------FONT SIZES-------*/
/*---------FONT WEIGHTS------*/
/*--------FONTS FAMILY-------*/
/*--------ARTICLE SIZE-------*/
/*********************************\
        $FUNCTIONS
\*********************************/
/*********************************\
        $MIXINS
\*********************************/
/*********************************\
        $HEADERS
\*********************************/
ul .selected {
  padding-top: 4px;
  padding-left: 12px;
  padding-bottom: 4px;
  padding-right: 12px;
  color: #ACD9B2;
  border: 1px solid #ACD9B2;
  border-radius: 10px;
}

.container {
  margin: 0 auto;
  width: 92%;
}

/*********************************\
        $RESETS
\*********************************/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
}

picture {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
}

/*********************************\
        $LOGOS
\*********************************/
.logo {
  width: 150px;
  height: 31px;
}
.logo--big {
  width: 200px;
  height: 41px;
}
.logo--margin-bottom {
  display: inline-block;
  margin-bottom: 72px;
}

/*********************************\
        $BTNS
\*********************************/
.btn {
  display: inline-block;
  padding: 14px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}
.btn--primary {
  margin-top: 36px;
  border: none;
  color: #FFFFFF;
  background-color: #ACD9B2;
}
.btn--secundary {
  margin-top: 52px;
  border: 1px solid #ACD9B2;
  color: #ACD9B2;
  background-color: #FFFFFF;
}
.btn--add-car {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 0;
  background-color: white;
  border: 2px solid rgba(199, 199, 199, 0.18);
  border-radius: 50%;
}
.btn__icon {
  height: 44px;
  width: 44px;
}

/*********************************\
        $ACOUNT-ACTIONS
\*********************************/
.acount-action {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 90%;
  max-width: 336px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.acount-action__header {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: end;
      align-content: end;
  justify-items: center;
  max-width: 340px;
  margin-bottom: 34px;
}
.acount-action__title {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
}
.acount-action__description {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  line-height: 1.5rem;
}
.acount-action__mensage-enlace {
  margin-top: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}
.acount-action__enlace {
  text-align: center;
  color: #ACD9B2;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}
.acount-action__enlace--margin {
  margin-top: 28px;
  font-weight: 600;
}

/*********************************\
        $CARDS
\*********************************/
.card__imagen {
  width: 140px;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.card__info {
  margin-top: 8px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__price {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  color: rgba(0, 0, 0, 0.8);
}
.card__title {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.875rem;
  line-height: 1.3125rem;
}
.card__button-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

/*********************************\
        $HEADERS
\*********************************/
.header {
  display: none;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  /* -webkit-box-shadow: 0px -8px 16px -5px rgba(0,0,0,0.80);
  -moz-box-shadow: 0px -8px 16px -5px rgba(0,0,0,0.80);
  box-shadow: 0px -8px 16px -5px rgba(0,0,0,0.80); */
}

/*********************************\
        $FORMS
\*********************************/
.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form--space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form__container-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__label {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}
.form__input {
  padding-top: 10px;
  padding-left: 8px;
  padding-bottom: 10px;
  padding-right: 8px;
  border: none;
  border-radius: 12px;
  background-color: #F7F7F7;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 22px;
}
.form__input:last-of-type {
  margin-bottom: 0;
}
.form__input--text-small {
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

/*********************************\
        $SENDS
\*********************************/
.send {
  padding-top: 120px;
  -ms-flex-line-pack: start;
      align-content: start;
}
.send__header {
  margin-bottom: 24px;
}
.send__icon-container {
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  aspect-ratio: 1/1;
  place-content: center center;
  border-radius: 50%;
  background-color: #F7F7F7;
}
.send__icon {
  height: 58px;
  width: 90px;
}
.send__mensage-resent {
  margin-top: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}
.send__resent-enlace {
  color: #ACD9B2;
}

/*********************************\
        $LOGINS
\*********************************/
.login {
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
  padding-top: 120px;
}
.login__header {
  -ms-grid-rows: none;
  grid-template-rows: none;
  margin-bottom: 48px;
}
.login__contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.login__form-container {
  display: -ms-grid;
  display: grid;
}

/*********************************\
        $CREATE ACOUNTS
\*********************************/
.create {
  padding-top: 80px;
  -ms-flex-line-pack: start;
      align-content: start;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
}
.create__header {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  display: block;
  margin-bottom: 40px;
}
.create__title {
  text-align: start;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}

/*********************************\
        $NEW-PASSWORD
\*********************************/
.new-password {
  padding-top: 120px;
  -ms-flex-line-pack: start;
      align-content: start;
}

/*********************************\
        $ACOUNTS
\*********************************/
.acount__valor {
  margin-bottom: 36px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  line-height: 1.5rem;
}
.acount__valor:last-of-type {
  margin-bottom: 0;
}

/*********************************\
        $ARTICULOS
\*********************************/
.articulo {
  padding-top: 120px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, 140px);
  row-gap: 24px;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  place-content: center;
}