/*********************************\
        $CREATE ACOUNTS
\*********************************/

.create{
    top: 60px;
    align-content: start;
    grid-template-rows: auto auto;

    &__header{
        align-self: end;
        display: block;
        margin-bottom: 40px;
    }
    
    &__title{
        text-align: start;
        @include font-size(big);
    }
}