/*********************************\
        $LOGINS
\*********************************/

.login{
    top: 32px;
    &__contenido{
        display: flex;
        flex-direction: column; 
        justify-content: start;
    }
}