/*********************************\
        $ACOUNT-ACTIONS
\*********************************/

.acount-action{
        display: grid;       
        height: 100vh;
        width: 90%;
        max-width: 336px;
        min-width: 300px;
        margin: 0 auto;
        padding-bottom: 20px;


        &__header{
                display: grid;
                align-content: end;
                justify-items: center;
                max-width: 340px;
                margin-bottom: 34px;
        }

        &__title{
                grid-row: 2 / 3;
                text-align: center;
                @include font-size(normal);
        }


        &__description{
                grid-row: 3 / 4;
                text-align: center;
                color: rgba(selecColorText(black),.5);
                @include font-size(normal);
        }

        &__mensage-enlace{
                margin-top: 28px;
                text-align: center;
                color: rgba(selecColorText(black),.5);
                font-weight: selecFontWeight(semiBold);
                @include font-size(small);
        }


        &__enlace{
                text-align: center;
                color: selecColorText(hospital-green);
                @include font-size(small);
                
        }

        &__enlace--margin{
                margin-top: 28px;
                font-weight: selecFontWeight(semiBold);
        }
}