/*********************************\
        $FORMS
\*********************************/

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    &--space-between{
        justify-content: space-between;
    }
    

    &__container-input{
        display: flex;
        flex-direction: column;
    }

    &__label{
        margin-bottom: 4px;
        font-weight: selecFontWeight(bold);
        @include font-size(small);
    }
    &__input{
        padding: {
            top: 10px;
            left: 8px;
            bottom: 10px;
            right: 8px;
        };
        border: none;
        border-radius: 12px;
        background-color: selecColorBg(text-input-field);
        @include font-size(normal);
        margin-bottom: 22px;
    }

    &__input:last-of-type{
        margin-bottom: 0;
    }

    &__input--text-small{
        @include font-size(small);
    }
}