/*********************************\
        $NAVS
\*********************************/

.nav{
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        column-gap: 48px;
        padding: {
                top: 12px;
                bottom: 12px;
        }
        margin: 0 auto;
        width: 92%;
        
        &__list-enlaces{
                display: flex;
                column-gap: 20px;
        }


        &__enlace{
                font-weight: selecFontWeight(semiBold);
                color: selecColorText(very-light-pink);
                @include font-size(normal);
        }

        
        &__acount-action{
                display: flex;
                align-items: center;
                column-gap: 30px;
        }


        &__enlace--sign-in{
                color: selecColorText(hospital-green);
                font-weight: selecFontWeight(bold);
                @include font-size(small);
        }
        
        &__container-acount{
                position: relative;
                
        }
        
        &__acount-name{
                color: rgba(selecColorText(black),.8);
                @include font-size(small);
        }
        
        &__acount-icon{
                margin-left: 4px;
                color: rgba(selecColorText(black), .3 );
                @include font-size(x-small);
        }
        &__list-option{
                position: absolute;
                min-width: 160px;
                padding: 24px 20px;
                right: 0px;
                top: calc( 100% + 19px);
                border-radius: 4px;
                background-color: selecColorBg(white);
                box-shadow: 0px 0px 4px 0px rgba(selecColorText(black),.15);
        }

        &__acount-option{
                text-align: end;        
        }
        
        &__acount-option:last-of-type{
                border-top: 1px solid rgba(selecColorText(very-light-pink),.3);
                
        }
        &__acount-enlace{
                display: inline-block;
                padding-right: 8px;
                font-weight: selecFontWeight(bold);
                color: selecColorText(black);
                @include font-size(normal);
        }
        
        &__acount-option:not(:last-child) &__acount-enlace{
                margin-bottom: 28px;
        }

        &__acount-enlace--sign-out{
                padding-top: 18px;
                padding-right: 8px;
                color: selecColorText(hospital-green);
                @include font-size(small);
        }
}